@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.logo {
  background-image: url('./assets/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img1 {
  background-image: url('../src/assets/travel6.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: cover;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.container .slide .item {
  width: 200px;
  height: 300px;
  position: absolute;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 1px rgba(128, 128, 128, 0.432);
  background-size: cover;
  display: inline-block;
  background-repeat: no-repeat;
  transition: .5s;
  background-position: center;
  background-size: cover;
  top: 55%;
  z-index: 3;
}

@media (width<=425px) {
  .container .slide .item {
    width: 150px;
    height: 200px;
    top: 65%;
  }
}

@media (426px< width <=768px) {
  .container .slide .item {
    width: 160px;
    height: 200px;
    top: 65%;
  }
}

.slide .item .content {
  display: none;
}

.slide .item:nth-child(2) .content {
  display: block;
  z-index: 4;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  border-radius: 0;
  transform: translate(0, 0);
  animation: bganimate 1s ease-in 1 forwards;
}

.slide .item:nth-child(2)::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.812), rgba(0, 0, 0, 0.551), rgba(0, 0, 0, 0));
}

.slide .item:nth-child(3) {
  left: 50%;
  scale: 1.1;
  transition: .6s;
}

.slide .item:nth-child(4) {
  left: calc(50% + 220px);
  transition: .6s;
}

.slide .item:nth-child(5) {
  left: calc(50% + 440px);
  transition: .6s;
}


.slide .item:nth-child(n+6) {
  opacity: 0;
  left: calc(50% + 660px);
  transition: .5s;
}


.left:hover,
.right:hover {
  background: #ababab;
  color: white;
  transition: .6s;
  transform: scale(1.2);
}

.slide .content {
  position: absolute;
  top: 40%;
  left: 8%;
}

.slide .name {
  opacity: 0;
  animation: animate 1s ease-in .6s 1 forwards;

}

.slide .des {
  opacity: 0;
  animation: animate 1s ease-in .8s 1 forwards;

}

.slide .sbtn {
  opacity: 0;
  animation: animate 1s ease-in 1s 1 forwards;

}


@keyframes animate {
  from {
    opacity: 0;
    filter: blur(50px);
    transform: translate(0, 60px);
  }

  to {
    opacity: 1;
    filter: blur(0px);
    transform: translate(0);
  }
}

@keyframes bganimate {
  from {
    filter: blur(10px);
  }

  to {
    filter: blur(0);
  }


}

/* login sign button design  */
.login-btn {
  background-color: aliceblue;
  color: black;
  position: relative;
  overflow: hidden;
  transition: .4s ease-in-out;
}

.login-btn::after {
  content: "";
  width: 105%;
  height: 30px;
  position: absolute;
  background-color: black;
  bottom: -20px;
  border-radius: 50%;
  left: 0;
  transition: .4s ease-in-out;
  z-index: 5;
}

.login-btn:hover::after {
  height: 100%;
  border-radius: 0;
  bottom: 0;
  transition: .4s ease-in-out;
  z-index: 5;
}

.login-btn:hover,
.login-btn:hover .log-color {
  color: #efeff9;
}


.signin-btn {
  background-color: aliceblue;
  color: black;
  position: relative;
  outline-color: crimson;
  overflow: hidden;
  transition: .4s ease-in-out;
}

.signin-btn::after {
  content: "";
  width: 105%;
  height: 30px;
  position: absolute;
  background-color: black;
  bottom: -20px;
  border-radius: 50%;
  left: 0;
  transition: .4s ease-in-out;
  z-index: 5;
}

.signin-btn:hover::after {
  height: 100%;
  border-radius: 0;
  bottom: 0;
  transition: .4s ease-in-out;
  z-index: 5;
}


.signin-btn:hover .log-color {
  color: #efeff9;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: azure;
  transform: scale(0);
  transition: .4s ease-in-out;
}

.nav-item {
  color: #011621;
  transition: .6s ease-in-out;
}

.nav-item:hover::after {
  transform: scaleX(.7);
  transition: .4s ease-in-out;
}

.nav-item:hover {
  color: #8a8548ea;
  transition: .6s ease-in-out;
}

.loginpic {
  background-image: url('../src/assets/loginpic.jpeg'), linear-gradient(to top, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.059));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}

.text {
  background-clip: text;
  color: transparent;
}

.signTrek {
  padding: 2px 10px 2px 10px;
}

.signTrek::after {
  content: "";
  bottom: -1px;
  transform: rotate(180deg);
  right: -1px;
  height: 40px;
  width: 40px;
  position: absolute;
  border-top: 4px solid rgb(234, 174, 96);
  border-left: 4px solid;
  transition: all .8s;

}

.signTrek::before {
  content: "";
  top: -1px;
  left: -1px;
  height: 40px;
  width: 40px;
  position: absolute;
  border-top: 4px solid rgb(234, 174, 96);
  border-left: 4px solid;
  transition: all .8s;
}

.shade::after,
.shade::before {
  content: '';
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 10;
  /* border: 2px solid red; */
}

.shade::before {
  background-image: linear-gradient(to top, #011621, #00253914);
  top: -100px;

}

/* top: -90px; */
/* top: -20px; */
.shade::after {
  background-image: linear-gradient(to bottom, #011621, #011621c8, #01162162, #00253902);
  top: -1px;

}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  z-index: 100;
  background: #cbe1e9;
  transform-origin: 0%;
}

.tourism {
  background-image: linear-gradient(90deg, #011621, transparent);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  animation: reveal both linear;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  background-size: 200%;
  background-repeat: no-repeat;
}

@keyframes reveal {
  from {
    background-position-x: 200%;
  }

  to {
    background-position-x: 0%;
  }
}


label,
.select {
  color: #074464bb;
}

.swal2-popup {
  backdrop-filter: blur(5px);
}

.videos {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.636),

      transparent);
}

.tourisms {
  background-image: linear-gradient(90deg, #dddde0, transparent);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  animation: reveal both linear;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  /* animation-range-start: 2vh;
  animation-range-end: 100vh; */
  background-size: 200%;
  background-repeat: no-repeat;
}

@keyframes reveal {
  from {
    background-position-x: 200%;
  }

  to {
    background-position-x: 0%;
  }
}




@media (width>768px) {
  .guide {
    -webkit-text-stroke: .7px #011621;
    color: transparent;
  }

  .guide:after {
    content: '';
    width: 100%;
    height: .5px;
    top: 50%;
    margin-left: 10px;
    position: absolute;
    background-color: black;
  }
}

@media (width<=768px) {
  .guide {
    -webkit-text-stroke: .7px #011621;
    text-align: center;
    font-size: 30px;
  }

}



.hi {
  width: 400px !important;
  border: 1px solid black;
  background-color: #f1f3fa;
}



.guide-more:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #011621;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: all .4s ease-in-out;

}

.guide-more:hover::after {
  color: #ababab;
  transform: scaleX(1);

}

.guide-more {

  color: #ababab;
  transition: all .4s ease-in-out;
}

.guide-more:hover {
  transition: all .4s ease-in-out;
  color: #555454;
}

.no_package {
  text-shadow: 5px 4px 2px #011621c5, 6px 8px 2px #065782;

}

.mySwiper {
  width: 100%;
  /* border: 2px solid black; */
}

.mySwiper1 {
  width: 100%;
  height: 35dvh;

  /* border: 2px solid black; */
  /* background-color: #065782; */
  padding: 20px 0px;
}

.TourStory {
  margin-top: 20px;
  margin-bottom: 10px;

}

.active-slide {
  /* box-shadow: 10px 10px 50px black; */

  transition: all;
  /* border: 2px solid; */
  border-left: 6px solid;
  border-image-source: linear-gradient(0deg, #042b40, #024e77, transparent);
  border-image-slice: 2;
  scale: 1.05;
  background-color: #e8edfe;
}

.storyDes {

  background-image: linear-gradient(to right, black, rgb(158, 158, 158), transparent);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;

}